:root {
    --black: #222222;
    --grey: #F8F3F4;
    --pink: #F1E4E6;
    --dark-pink: #F16D7F;
    --snow-white: #FFFFFF; 
    --white: #FBFBFB;
    --grey-1: #B1B1B1
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.body {
    font-family: Lato;
    font-style: normal;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--black);
}

.header__container {
    display: flex;
    align-items: center;
    min-height: 75px;
    justify-content: space-between;
}

.header__box {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header-ico {
    margin: 0 0 0 33px;
}

.header-button {
    background-color: transparent;
}

.header__navigation {
    position: absolute;
    display: none;
    background-color: var(--white);
    margin: 55px 0 0 200px;
}
.header-title {
    width: 700px;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}
.header__item{
    
}
.brand {
    display: flex;
    background-color: var(--pink);
    margin-bottom: 65px;
}
.brand__wrp {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 0 92px;
}

.brand__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__subtitle {
    display: block;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    text-transform: uppercase;
}

.brand__pink {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    color: var(--dark-pink);
    margin-left: 10px;
}

.sale {
    display: flex;
}

.sale__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sale__item {
    text-align: center;
    position: relative;
    padding-bottom: 30px;
}
.sale__img {
    width: 100%;
}
.slogan {
    position: absolute;
    top: 40%;
    left: 30%;
}
.slogan-accesories {
    position: absolute;
    top: 40%;
    left: 43%;
}
.sale__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--snow-white);
    text-transform: uppercase;
}
.sale__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--dark-pink);
    text-transform: uppercase;
}

.product {
    text-align: center;
}

.product-title {
    font-weight:400;
    font-size: 30px;
    line-height: 36px;
    color: var(--black);
    text-transform: capitalize;
    padding-top: 76px;
}
.product-text {
    font-weight:400;
    font-size: 14px;
    line-height: 17px;
    color: var(--black);
    text-transform: none;
    padding: 6px 0 48px;
}
.product-text:first-letter {
    text-transform: uppercase;
}
.card-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    min-height: 420px;
    width: 360px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    background: #F8F8F8;
}

.card:hover .button__overlay,
.card:hover .card-wrapper__overlay:before {
    display: block;
}

.card-wrapper-overlay {
    position: relative;
    text-align: left;
}
.card-wrapper-overlay:before {
    content: '';
    display: none;
    width: 100%;
    min-height: 100%;
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    top: 0;
    right: 0;
}

.card-img {
    width: 100%;
    height: 420px;
}
.card-title {
    font-weight:400;
    font-size: 14px;
    line-height: 17px;
    color: var(--black);
    text-align: left;
    text-transform: uppercase; 
    padding-top: 25px; 
}
.card-text {
    font-weight:300;
    font-size: 13px;
    line-height: 16px;
    color: var(--black);
    text-align: left;
    text-transform: none;
    padding: 13px 0 18px;
}
.card-price {
    font-weight:400;
    font-size: 16px;
    line-height: 19px;
    color: var(--dark-pink);
    text-align: left;
    text-transform: none;
}

.card-text:first-letter {
    text-transform: uppercase;} 

.button-overlay {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button__overlay::after {
    content: url(img/add_to_cart.svg);
    position: absolute;
    background-color: var(--grey);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product__button {
    width: 211px;
    height: 47px;
    border: 1px solid var(--dark-pink);
    color: var(--dark-pink);
}
.product__button:hover,
.product__button:focus {
    background: var(--dark-pink);
    color: var(--white);
}
.product__button-text {
    font-weight:400;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
}
.serviсe {
    background-color: var(--black);
}

.serviсe__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 341px;
    margin-top: 96px;
}

.serviсe__item {
    text-align: center;
    width: 360px;
    
}

.serviсe__item-subtitle {
    font-weight:400;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize ; 
    color: var(--white);
    padding: 25px 0 16px;
}

.serviсe__item-text {
    font-weight:300;
    font-size: 13px;
    line-height: 16px;
    text-transform: none;
    color: var(--white);
}
.serviсe__item-text:first-letter {
    text-transform: uppercase;
}
.subscribe {
    background-image: url(img/subscribe.jpg);
    box-sizing: border-box;
    height: 448px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.subscribe-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.footer-face {
    align-items: center;
    width: 360px;
}
.footer-face__img {
    margin: 87px 0 40px;
}
.footer-face__text {
    font-weight:400;
    font-size: 20px;
    line-height: 24px;
    text-transform: none;
    color: var(--black);
}
.footer-face__text:first-letter {
    text-transform: uppercase;
}
.footer-subscribe__form {
    margin: 150px 100px 0 0;
}
.footer-subscribe {
    font-weight:700;
    font-size: 24px;
    line-height: 40px;
    text-transform: uppercase;
    color: var(--black);
}
.footer-subscribe__text {
    font-weight:400;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--black);
}
.footer-form {
    display: flex;
    margin-top: 32px;
}
.footer-box-email {
    width: 256px;
    height: 49px;
    background-color: #E1E1E1;
    border-radius: 30px 0 0 30px;
    padding-left: 22px;
    font-weight:400;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: var(--black);
    border: 0;
}
.footer-box-button {
    width: 100px;
    height: 51px;
    background-color: var(--dark-pink);
    color: var(--white);
    border-radius: 0 30px 30px 0;
    font-weight:400;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    border: 0;
}
.footer-bottom { 
    height: 79px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
}
.bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}
.copyrights {
    font-weight:400;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: var(--white);
}
.footer__box {
    display: flex;
    align-items: center;
}
.footer__ico {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin: 0 0 0 7px;
    border: none;
    background: var(--white);
}

.footer__ico:hover,
.footer__ico:focus {
    background: var(--dark-pink);
}

.top-box__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: var(--dark-pink);
    background-color: var(--grey);
    padding: 60px 0 60px 0;
}
.feedback {
    display: flex;
    justify-content: space-between;
}
.feedback-form__name {
    display: flex;
    flex-direction: column;
}
.feedback-form__title {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;    
}
.form-name__item {
    width: 360px;
    height: 45px;
    background-color: var(--snow-white);
    margin-top: 20px;
    padding-left: 16px;
    border: 1px solid #A4A4A4;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    text-transform: capitalize;
    color: var(--grey-1);
}
.feedback-form__gender {
    margin: 33px 0;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    text-transform: capitalize;
}
.feedback-form__data {
    display: flex;
    flex-direction: column;
}
.feedback-form__desc {
    width: 359px;
    margin-top: 15px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: var(--grey-1);
}
.feedback-form__button {
    width: 167px;
    height: 50px;
    font-size: 14px;
    line-height: 17px;
    color: var(--snow-white);
    background-color: var(--dark-pink);
    margin-top: 39px;
    text-transform: uppercase;
    border: none;
}
.loyalty {
    margin-left: 22px;
}
.loyalty-title {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
}
.loyalty-text {
    width: 652px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-transform: none;
    padding: 22px 0;
}
.loyalty-text::first-letter {
    text-transform: uppercase;
}
.loyalty-text {
    
}

.loyalty-list__item {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-transform: none;
    list-style: none;
    position: relative;
    padding: 16px 0 0 42px;
}
.loyalty-list__item::before {
    content: '';
    width: 20px;
    height: 16px;
    background: var(--grey);
    position: absolute;
    top: 21px;
    left: 0;
    background-image: url(img/check_mark.svg);
    background-size: 20px 16px;
}
.loyalty-list__item::first-letter {
    text-transform: uppercase;
}